# Ignorar arquivos Python compilados e ambientes
__pycache__/
*.pyc
.venv/
.env

# Ignorar DADOS (Crucial para seu projeto)
# Mantém a estrutura de pastas, mas ignora o conteúdo pesado
data/raw/*
data/processed/*
data/output/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/output/.gitkeep

# Ignorar configs da IDE
.vscode/
.idea/

# Ignorar logs e arquivos temporários
*.log
.DS_Store